.book-list-header > * + * {
  @apply tw-ml-1;
}
.book-list > li {
  @apply tw-text-sm tw-leading-6 tw-border-b tw-border-gray-100 tw-pt-1 tw-pb-1 tw-indent-2;
}
.book-list > li.active {
  @apply tw-bg-gray-200;
}
.book-grid {
  @apply tw-grid tw-grid-cols-4;
}
.book-grid > li {
  @apply tw-border tw-text-center tw-m-0.5 tw-leading-10 tw-rounded-sm;
}
.book-grid > li.active {
  @apply tw-bg-gray-200;
}
.list-height {
  @apply tw-h-[23rem];
}

.pop::before {
  position: absolute;
  width: 0.71428571em;
  height: 0.71428571em;
  content: '';
  background-color: white;
  transform: rotate(45deg);
  z-index: 2;
  box-shadow: -1px -1px 0 0 #e5e7eb;

  top: -0.30714286em;
  left: 1em;
}

/* .list-content::-webkit-scrollbar {
  width: 3px;
}

.list-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.list-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */
