/* @config './tailwind.config.cjs' */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
}

/*
custom title bar

* {
  box-sizing: border-box;
}

.window {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.window-titlebar {
  height: 2em;
  background-color: #eee;
  padding: 0.5em;
  text-align: center;
  color: #555;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.window-buttons {
  float: left;
}

.window-title {
  margin-left: -5em;
}

.window-button {
  display: inline-block;
  margin: 0 0.25em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.window-button-close {
  background-color: #ff4545;
}

.window-button-hide {
  background-color: #ffbe03;
}

.window-button-full {
  background-color: #03d544;
}

.window-content {
  height: 46em;
  background-color: #fff;
} */

body {
  @apply bg-gray-100;
}

.pop::before {
  position: absolute;
  width: 0.71428571em;
  height: 0.71428571em;
  content: '';
  background-color: white;
  z-index: 2;
}

.pop.lt::before {
  top: -0.30714286em;
  left: 1em;
  transform: rotate(45deg);
  box-shadow: -1px -1px 0 0 var(--tw-shadow-color);
  border-top: 1px solid var(--tw-shadow-color);
  border-left: 1px solid var(--tw-shadow-color);
}

.pop.rt::before {
  top: -0.30714286em;
  right: 1em;
  transform: rotate(45deg);
  box-shadow: -1px -1px 0 0 var(--tw-shadow-color);
  border-top: 1px solid var(--tw-shadow-color);
  border-left: 1px solid var(--tw-shadow-color);
}
